<h1>タスク編集</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-3">
    <%= form_with(model: @task, url:user_task_path(params[:user_id],params[:id]), local: true, method: :patch) do |t| %>
      <%= render 'shared/error_messages_task', object: @task %>
    
      <%= t.label :title, class: "label-user--edit" %>
      <%= t.text_field :title, class: "form-control" %>
      
      <%= t.label :details, class: "label-user--edit" %>
      <%= t.text_area :details, class: "form-control", cols: 8, rows: 5 %>
  
      <%= t.submit '更新', class: "btn btn-primary btn-signup" %>
      <a class="btn btn-default btn-form cansel" href='/users/<%= params[:user_id] %>/tasks'>キャンセル</a>
    <% end %>
  </div>
</div>