<% provide(:title, 'All Tasks') %>
<h1><%= @user.name %>のタスク一覧</h1>
<div class = "row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to "タスク新規作成", new_user_task_path(@user.id), class: "btn btn-lg btn-primary pull-right" %>
    <table class="table table-hover" id="table-tasks">
      <thead>
        <tr>
          <th>名称</th>
          <th>作成日</th>
        </tr>
      </thead>
      <% @tasks.each do |task| %>
      <tbody>  
        <tr>
          <td class="h4">
            <%= link_to user_task_path(@user.id, task) do %>
              <i class="Myclass"></i><em><%= task.title %></em>
            <% end %>
          </td>
          <td><%= l(task.created_at, format: :long) %></td>

          <td>
            <%= link_to "編集", edit_user_task_path(@user.id, task), class: "btn btn-success" %>
            <%= link_to "削除", user_task_path(@user.id, task), method: :delete,
                  data: { confirm: "を削除してよろしいですか？" }, class: "btn btn-danger" %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>  
  </div>
</div>